In [1]:
greetings = "Assalam-o-Alaikum!"
print(greetings)

Assalam-o-Alaikum!

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import sqlite3

## Import Dataset

In [8]:
con = sqlite3.connect("traino - Copia (2).sqlite")

In [11]:
DataLog = pd.read_sql_query("SELECT * FROM DataLog", con)
DataLog.head()

,Id,NomeTraino,MetriBuoni,MetriScarto,MetriTotaliProdotti,PezziFatti,StatoMacchina,RequestReset,AllMaterialeRotto,AllDrive,VelRifNastro,VelNastroMateriale,Timestamp,Elaborated,CounterReset
0,1,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:42.2570125,1,NaN
1,2,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:44.7557807,1,NaN
2,3,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:47.7259563,1,NaN
3,4,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:51.1159078,1,NaN
4,5,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:54.6943812,1,NaN

**Renaming Of Columns By using Dictionary method**

In [28]:
rename_dict = {
    "Id": "ID",
    "MachinaName": "MachineName",
    "MetriBuoni": "GoodLength", 
    "defectiveLength": "DefectiveLength",
    'MetriTotaliProdotti': 'TotalProductLength',
    'PezziFatti': 'TotalPiecesProduced',
    'StatoMacchina': 'MachineStatus',
    'RequestReset': 'RequestReset',
    'AllMaterialeRotto': 'TotalBrokenMaterial',
    'AllDrive': 'AllDrive',
    'VelRifNastro': 'ReferenceBeltSpeed',
    'VelNastroMateriale': 'ActualBeltSpeed',
    'Timestamp': 'Timestamp',
    'Elaborated': 'Elaborated',
    'CounterReset': 'CounterReset'
}
DataLog.rename(columns = rename_dict, inplace = True)
DataLog.head()

,ID,MachineName,GoodLength,DefectiveLength,TotalProductLength,TotalPiecesProduced,MachineStatus,RequestReset,TotalBrokenMaterial,AllDrive,ReferenceBeltSpeed,ActualBeltSpeed,Timestamp,Elaborated,CounterReset
0,1,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:42.2570125,1,NaN
1,2,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:44.7557807,1,NaN
2,3,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:47.7259563,1,NaN
3,4,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:51.1159078,1,NaN
4,5,TRAINO-20,4.032477,0.520219,4.552696,0,0,0,0,0,6.14484,0.0,2022-11-17 12:58:54.6943812,1,NaN

**Determining the shape of the data**

In [27]:
DataLog.shape

(1393857, 15)

Here, the first no.shows the Number of Rows and the second no. shows the Number Of Columns

**Count the Total Values by Their MachineName.**

In [30]:
DataLog.groupby("MachineName").count()

,ID,GoodLength,DefectiveLength,TotalProductLength,TotalPiecesProduced,MachineStatus,RequestReset,TotalBrokenMaterial,AllDrive,ReferenceBeltSpeed,ActualBeltSpeed,Timestamp,Elaborated,CounterReset
MachineName,,,,,,,,,,,,,,
TRAINO-13,30755,30755,30755,30755,30755,30755,30755,30755,30755,30755,30755,30755,30755,30755
TRAINO-20,367571,367571,367571,367571,367571,367571,367571,367571,367571,367571,367571,367571,367571,147143
TRAINO-28,949865,949865,949865,949865,949865,949865,949865,949865,949865,949865,949865,949865,949865,949865
TRAINO-4,45666,45666,45666,45666,45666,45666,45666,45666,45666,45666,45666,45666,45666,45666

Here we can see that, There are Four Machines in a dataset and we count their total values by each Column.

**Variable Identification and Typecasting**

In [32]:
DataLog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393857 entries, 0 to 1393856
Data columns (total 15 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ID                   1393857 non-null  int64
 1   MachineName          1393857 non-null  object
 2   GoodLength           1393857 non-null  float64
 3   DefectiveLength      1393857 non-null  float64
 4   TotalProductLength   1393857 non-null  float64
 5   TotalPiecesProduced  1393857 non-null  int64
 6   MachineStatus        1393857 non-null  int64
 7   RequestReset         1393857 non-null  int64
 8   TotalBrokenMaterial  1393857 non-null  int64
 9   AllDrive             1393857 non-null  int64
 10  ReferenceBeltSpeed   1393857 non-null  float64
 11  ActualBeltSpeed      1393857 non-null  float64
 12  Timestamp            1393857 non-null  object
 13  Elaborated           1393857 non-null  int64
 14  CounterReset         1173429 non-null  float64
dtypes: float64(6), int64(7), object(2)
memory usage: 159.5+ MB

There are a lot of variables visible at one, so let's narrow this down by looking at one datatype at once. We will start with int

**1: Int Type;**

In [40]:
DataLog.dtypes[DataLog.dtypes == "int64"]

ID                     int64
TotalPiecesProduced    int64
MachineStatus          int64
RequestReset           int64
TotalBrokenMaterial    int64
AllDrive               int64
Elaborated             int64
dtype: object

Now we convert some of the above columns which have int64 data type to a categorical data type

In [41]:
DataLog["MachineStatus"] = DataLog["MachineStatus"].astype("category")
DataLog["RequestReset"] = DataLog["RequestReset"].astype("category")
DataLog["AllDrive"] = DataLog["AllDrive"].astype("category")
DataLog["Elaborated"] = DataLog["Elaborated"].astype("category")

By appropriately adjusting the data types of these features, the overall data analysis and interpretation will be more accurate and meaningful.

In [42]:
# Check The Output which verifies our Conversions

In [44]:
DataLog.dtypes[DataLog.dtypes == "int64"]

ID                     int64
TotalPiecesProduced    int64
TotalBrokenMaterial    int64
dtype: object

**2: Float Data Type;**

In [45]:
# Identifying variables with float data type

In [46]:
DataLog.dtypes[DataLog.dtypes == 'float64']

GoodLength            float64
DefectiveLength       float64
TotalProductLength    float64
ReferenceBeltSpeed    float64
ActualBeltSpeed       float64
CounterReset          float64
dtype: object

In [48]:
DataLog["CounterReset"] = DataLog["CounterReset"].astype("Int64")

In [49]:
DataLog.dtypes[DataLog.dtypes == "float64"]

GoodLength            float64
DefectiveLength       float64
TotalProductLength    float64
ReferenceBeltSpeed    float64
ActualBeltSpeed       float64
dtype: object

**3: Object Type;**

In [50]:
#Identifying variables with Object Type

In [51]:
DataLog.dtypes[DataLog.dtypes == "object"]

MachineName    object
Timestamp      object
dtype: object

1: Machine Name data type is an object type data, and Pandas was unable to recognize the data so we convert it into categorical data type.

2: Timestamp data is also an object type data, and it is perform time related operations, so we convert it into datetime data type.

In [52]:
DataLog["MachineName"] = DataLog["MachineName"].astype("category")
DataLog["Timestamp"] = pd.to_datetime(DataLog["Timestamp"])

In [55]:
DataLog.dtypes

ID                              int64
MachineName                  category
GoodLength                    float64
DefectiveLength               float64
TotalProductLength            float64
TotalPiecesProduced             int64
MachineStatus                category
RequestReset                 category
TotalBrokenMaterial             int64
AllDrive                     category
ReferenceBeltSpeed            float64
ActualBeltSpeed               float64
Timestamp              datetime64[ns]
Elaborated                   category
CounterReset                    Int64
dtype: object

Summary:

All variables in the dataset have been assigned their appropriate data types, ensuring accurate representation and facilitating effective analysis.